  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


	<nav class="navbar navbar-default custom-nav">
		<div class="container-fuild">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header navhh">
				<button type="button"	id="nav-bt" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="../images/blog.png" class="baj-img"></a>
			</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav l-nav" id="scr">
		</ul>
		<ul class="nav navbar-nav navbar-right nr">
			<% if user_signed_in? %>
			<% if current_user.admin %>
			<li><%= link_to "Admin",adminpanel_index_path,class:"login-btn"%></li>
			<% end %>
			<% end %>
			<li>
				<%= link_to "Home", root_path, class:"login-btn"%>
			</li>
			<% if user_signed_in? %>
			<li><%= link_to "Log Out",destroy_user_session_path,class: "login-btn",method: :delete%></li>
			<li>
				<a href="https://benandjess.acuityscheduling.com/schedule.php" class="btn get-btn">Book appointment</a>
			</li>
		<% else %>
			<li><%= link_to "Login",new_user_session_path, class:"login-btn"%></li>
			<li>
				<a href="https://benandjess.acuityscheduling.com/schedule.php" class="btn get-btn">Book appointment</a>
			</li>
			<% end %>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
	</nav>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-8">
				<ol class="breadcrumb bdb">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Blog",benblog_path %></li>
					<li class="active"><%= @blog.title %></li>
				</ol>
				<h2><%= @blog.title %></h2>
				<h5>Posted by <strong>admin</strong> | <%= @blog.created_at.strftime("%A %b %d") %></h5>
					<%= image_tag(@blog.avatar.url,class: "img-responsive") %>
					<br>
					<p>
						<%= @blog.description %>
					</p>
			</div><br><br><br><br>
			<div class="col-md-3 col-md-offset-1">
				<h4 class="sec-title"><span>Recent Post</span></h4>
				<ul class="bl-ul">
				<% Blog.last(5).each do |b| %>
					<li>
							<div class="info">
									<h5 class="r-title"><%= link_to blog_path(b) do%>
										<%= b.title %>
										<% end %>
									</h5>
									<div class="r-date"><%= b.created_at.strftime("%A %b %d") %></div>
							</div>
					</li>
					<hr>
					<% end %>
				</ul>
			</div>
		</div>
		  <div class="fb-comments" data-href="http://heartr.herokuapp.com/blogs/<%= @blog.id %>" data-numposts="5"></div>
	</div>

	<div class="fh5co-footer-style-3">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
				<div class="fh5co-logo">
					<span class="logo">B</span>
					Benandjess</div>
				<p class="fh5co-copyright">&copy; 2016 Benandjess.
					<br>All Rights Reserved.
					<br></a>
				<br>
			</a>
		</p>
	</div>
	<div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
		<h3>Company</h3>
		<ul class="fh5co-links">
			<li>
				<a href="#">How it Works</a>
			</li>
			<li>
				<a href="#">Services</a>
			</li>
			<li>
				<a href="#">Products</a>
			</li>
			<li>
				<a href="#">Careers</a>
			</li>
			<li>
				<a href="#">Blog</a>
			</li>
			<li>
				<a href="#">Contact</a>
			</li>
		</ul>
	</div>
	<div class="clearfix visible-sm-block"></div>
	<div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
		<h3>Connect</h3>
		<ul class="fh5co-links fh5co-social">
			<li>
				<a href="#">
					<i class="icon icon-facebook2"></i>
					Facebook</a>
			</li>
			<li>
				<a href="#">
					<i class="icon icon-twitter"></i>
					Twitter</a>
			</li>
			<li>
				<a href="#">
					<i class="icon icon-dribbble"></i>
					Dribbble</a>
			</li>
			<li>
				<a href="#">
					<i class="icon icon-instagram"></i>
					Instagram</a>
			</li>
		</ul>
	</div>
	<div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
		<h3>About</h3>
		<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
		</p>
		<p>
			<a href="#" class="btn btn-success btn-sm btn-outline">I'm a button</a>
		</p>
	</div>
	<div class="clearfix visible-sm-block"></div>
	</div>
	<div class="row fh5co-made">
	<div class="col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
		<p>Made with
			<i class="heart icon-heart"></i>
		</p>
	</div>
	</div>
	</div>
	</div>
